<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Dog Information</title>
  <link rel="stylesheet" href="/css/editStyles.css">

</head>

<body>
<form th:action="@{/admin/dogs/edit/update}" th:object="${dog}" method="post">

  <input type="hidden" th:field="*{id}">

  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}">
  </div>
  <br>

  <div>
    <label for="age">Age:</label>
    <select id="age" th:field="*{age}">
      <option value="Puppy" th:selected="*{size == 'puppy'}">Puppy</option>
      <option value="Young" th:selected="*{size == 'young'}">Young</option>
      <option value="Adult" th:selected="*{size == 'adult'}">Adult</option>
      <option value="Senior" th:selected="*{size == 'senior'}">Senior</option>
    </select>
  </div>
  <br>

  <div>
    <label for="gender">Gender:</label>
    <select id="gender" th:field="*{gender}">
      <option value="Male" th:selected="*{gender == 'male'}">Male</option>
      <option value="Female" th:selected="*{gender == 'female'}">Female</option>
    </select>
  </div>
  <br>

  <div>
    <label for="breed">Breed:</label>
    <input type="text" id="breed" th:field="*{breed}">
  </div>
  <br>

  <div>
    <label for="soldTo">Sold To:</label>
    <input type="text" id="soldTo" th:field="*{soldTo}">
  </div>
  <br>

  <div>
    <label for="price">Price:</label>
    <input type="number" id="price" th:field="*{price}">
  </div>
  <br>

  <div>
    <label for="size">Size:</label>
    <select id="size" th:field="*{size}">
      <option value="Small" th:selected="*{size == 'small'}">Small</option>
      <option value="Medium" th:selected="*{size == 'medium'}">Medium</option>
      <option value="Large" th:selected="*{size == 'large'}">Large</option>
      <option value="Extra Large" th:selected="*{size == 'extra large'}">Extra Large</option>
    </select>
  </div>
  <br>

  <div>
    <label for="image">Image URL:</label>
    <input type="text" id="image" th:field="*{image}">
  </div>
  <br>

  <div>
    <button type="submit">Save Changes</button>
  </div>
</form>
</body>
</html>
