<!DOCTYPE html>
<html lang="sv"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layouttemplate"
      data-theme="light">


<th:block layout:fragment="extraHead">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@event-calendar/build@1.5.0/event-calendar.min.css">
    <link rel="stylesheet" href="/css/pagination.css">
    <script src="https://cdn.jsdelivr.net/npm/@event-calendar/build@1.5.0/event-calendar.min.js"></script>
    <script src="/js/modal.js"></script>

</th:block>

<div layout:fragment="mainContent">

    <div class="row-box">
        <div class="col-boxes-1">
            <div class="col-table">
                <div class="table-section">
                    <div class="header-table">
                        <h2>Hundar att adoptera</h2>
                        <!--                        <a href="#">see all</a>-->
                    </div>

                </div>

            </div>

        </div>
    </div>

    <form method="GET">
        <label for="searchDogs">Search:</label>
        <input type="text" id="searchDogs" name="searchTerm" th:value="${searchTerm}" />
<!--        <input type="text" name="q" value="" />-->
        <!-- <input type="hidden" name="sortCol"  value="<?php echo $sortCol; ?>" />       -->
    </form>
    <table class="tabulator-table">
        <thead>
            <tr class="tabulator-row">
                <th class="tabulator-cell">
                    Name
                    <a th:href="@{|?searchTerm=${searchTerm}&sortCol=name&sortOrder=asc|}"><i class="fa-solid fa-arrow-up-a-z"></i></a>
                    <a th:href="@{|?searchTerm=${searchTerm}&sortCol=name&sortOrder=desc|}"><i class="fa-solid fa-arrow-down-z-a"></i></a>
                </th>
                <th>
                    Breed
                    <a th:href="@{|?searchTerm=${searchTerm}&sortCol=breed&sortOrder=asc|}"><i class="fa-solid fa-arrow-up-a-z"></i></a>
                    <a th:href="@{|?searchTerm=${searchTerm}&sortCol=breed&sortOrder=desc|}"><i class="fa-solid fa-arrow-down-z-a"></i></a>
                </th>
                <th>
                    Age
                    <a th:href="@{|?searchTerm=${searchTerm}&sortCol=age&sortOrder=asc|}"><i class="fa-solid fa-arrow-up-a-z"></i></a>
                    <a th:href="@{|?searchTerm=${searchTerm}&sortCol=age&sortOrder=desc|}"><i class="fa-solid fa-arrow-down-z-a"></i></a>
                </th>
                <th>
                    Size
                    <a th:href="@{|?searchTerm=${searchTerm}&sortCol=size&sortOrder=asc|}"><i class="fa-solid fa-arrow-up-a-z"></i></a>
                    <a th:href="@{|?searchTerm=${searchTerm}&sortCol=size&sortOrder=desc|}"><i class="fa-solid fa-arrow-down-z-a"></i></a>
                </th>
                <th>
                    Price
                    <a th:href="@{|?searchTerm=${searchTerm}&sortCol=price&sortOrder=asc|}"><i class="fa-solid fa-arrow-up-a-z"></i></a>
                    <a th:href="@{|?searchTerm=${searchTerm}&sortCol=price&sortOrder=desc|}"><i class="fa-solid fa-arrow-down-z-a"></i></a>
                </th>
            </tr>
        </thead>
    </table>
    <div class="cards dogcards">
        <div class="card dogcard" th:each="dog: ${dogs}">
            <div class="card-top-info">
          <h3 th:text="${dog.getName()}"></h3>
                <img th:src="${dog.getImage()}" class="animal-img">
            </div>
            <p>

                <ul style="text-align: center">
                    <li th:text="${dog.getBreed()}"></li>
            <li th:text="${dog.getAge()}"></li>
            <li th:text="${dog.getPrice()}"> kr</li>
                </ul>
            </p>
        </div>
    </div>

    <ul class="pagination" id="pager">
        <th:block th:each="i: ${#numbers.sequence(1, totalPages)}">
            <li th:if="${pageNo == i}" class="page-item active" th:text="${i}"></li>
            <li th:if="${pageNo != i}" class="page-item">
                <a class="page-link" th:href="@{|?searchTerm=${searchTerm}&pageNo=${i}|}" th:text="${i}"></a>
            </li>
        </th:block>
    </ul>

</div>






</html>